.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#map {
  height: 100vh;
}

.my-navbar{
  width:100vw;
  height:80px;
  line-height: 73px;
  position:absolute;
  background-color: rgb(0,0,0,0.8);
  z-index:1000;
}
.navbar-link{
  font-size:2em ;
  text-decoration:none;
  color:#D2C2A2;
  /* color:#F09A9E; */
  font-weight:700;
  
}

.add-location-form{
  background-color: rgb(0,0,0,0.8);
  color:#D2C2A2;
  width:240px;
  position:absolute;
  z-index:1000;
  top:250px;
right:10px;
  padding:20px;
}