.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family: "Lato", san-serif;
} */


.pimg1, .pimg2, .pimg3{
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg1{
    background-image: url('/image1.jpg');
    min-height:62vh;
}

.pimg2{
    background-image: url('/image4.jpg');
    min-height:60vh;
}

.overlay{
  width:100vw;
  height:62vh;
  background-color: rgb(0,0,0,.6);
}

.login-navbar{
    height:11vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0,0,0,.9);
}

.brand-text{
  color:rgb(196,98,16);
  font-size:3.5em;
  font-weight:700;
  text-shadow:#aaa 2px -0.9px 1px; 

}

.login-btn, .signup-btn{
  text-decoration:none;
  margin: 0 20px;
  color:#B2905D;
  color:rgb(196,98,16);
  font-size: 1.5em;
  font-weight:700;
  text-shadow:#aaa 1px -0.5px 0.3px; 
}

.section-light{
  padding:5px 0;
  color:#B2905D;
  background-image: linear-gradient(to bottom, #111 0%, black 100%); 
  display:flex;
  justify-content: center;
}

.icon{
  font-size:3em;
  text-align: center;
  margin-bottom:10px;
}

.section-box{
  width:15%;
  margin:0 60px;
  text-align: center;
}

.section-box>p{
  font-size:0.8em;
}


.newMap{
  width:100vw;
  height:100vh;
}

.info-window{
  text-align: center;
  width:150px;
  padding:0;
}

.info-window-img{
  display:block;
  width:140px;
  margin:0 auto;
  object-fit: scale-down; 
}

.btn{
  background-color: rgb(0,0,0,0);
  border-radius:30px;
  width:90px;
  border: 1px solid #D0A565;
  color:#D0A565;
  font-size: 1em;
  display: inline-block;
  padding:5px;
  margin:10px;
}

.btn:hover{
  color:#44A3D3;
  border: 1px solid #44A3D3;
}

.edit-location-form{
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color:#D2C2A2;
    background-color: rgb(0,0,0,0.93);
    min-width: 140px;
    width: 32vw;
    position: absolute;
    z-index: 1000;
    top: 10vh;
    left:20.35vw;
} 

.edit-input-element{
  border:none;
  color:#D2C2A2;
  height:50px;
  min-width:100px;
  width: 28vw;
  background-color:rgb(169,169,169, 0.1);
}

.edit-textarea-element{
  color:#D2C2A2;
  border:none;
  min-width:100px;
  width:28vw;
  min-height:50px;
  height:13vh;
  background-color:rgb(169,169,169, 0.1);
}


.add-location-form{
  box-sizing: border-box;
  padding-top:10px;
  padding-bottom:10px;
  text-align:center;
  color:#D0A565;
  background-color: rgb(0,0,0,0.9);
  min-width:140px;
  width:32vw;
  position:absolute;
  z-index:1000;
  top:10vh;
  left:38vw;
}

.add-location-form p, .edit-location-form p{
  margin:0;
  margin-top:10px;
}

.input-element{
  border:none;
  color:#D0A565;
  height:50px;
  min-width:100px;
  width: 28vw;
  background-color:rgb(169,169,169, 0.1);
}

.textarea-element{
  color:#D0A565;
  border:none;
  min-width:100px;
  width:28vw;
  min-height:50px;
  height:13vh;
  background-color:rgb(169,169,169, 0.1);
}

.image-input{
  opacity:0;
  height:90px;
  width:160px;
}

.image-input-btn{
  color:#D0A565;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  font-size:3.7em;
  width:160px;
  z-index:-1000;
  background-color:rgba(0,0,0,0.6);
  background-color:rgb(169,169,169, 0.1);
  border:none;
}

.image-input-box{
  margin:0 auto;
  position:relative;
  height:90px;
  width:160px;
  margin-top:20px;
  margin-bottom:20px;
}

.location-wrapper{
  width:100vw;
  height:100vh;
  background-color: #222;
}

.location-details-container{
  display:flex;
  position:absolute;
  margin:0 auto;
  width:93.1vw;
  height:100vh;
  top:0;
  left:100px;
  overflow: scroll;
  text-align: center;
  color:#D2C2A2;
}

.carousel{
  margin-top:50px;
}

.carousel-image{
  display: block;
  width:100%;
  height:450px;
  /* margin: 0 auto; */
  object-fit: scale-down; 
}

.details-btn{
  background-color: rgb(0,0,0,0);
  border-radius:30px;
  width:90px;
  border: 1px solid #D2C2A2;
  color:#D2C2A2;
  font-size: 1em;
  display: inline-block;
  padding:5px;
  margin:20px;
}

.details-btn:hover{
  color:#44A3D3;
  border: 1px solid #44A3D3;
}

.details-box{
  width:78%;
  background-color: rgb(0,0,0,0.7);
}

.description-box{
  margin: 0 auto;
  width:60%;
  margin-top: 25px;
  margin-bottom: 50px;
  text-align: center;
}

.comments-box{
  width:25%;
  margin:0;
  background-color: rgb(0,0,0,0.7);
}


.icon-btn.comment{
  font-size:5em;
  color:#44A3D3;
}

.comments-container{
  overflow:scroll;
  height:80%;
}

.comment-content{
  margin:0;
  font-size:0.9em;
}

.comment-content > span{
  color:#44A3D3;
  font-weight:bold;
}

.comment-input{
  border-radius: 20px;
  border: 0.6px solid #D2C2A2;
  width:95%;
  height:40px;
  background-color: rgb(100,100,100,0.1);
  padding:5px;
  margin-bottom:8px;
  color:#D2C2A2;
  font-size:0.9em;
}

.comment-bubble{
  border-radius: 20px;
  background-color: rgb(255,255,255,0.1);
  width:95%;
  padding:5px 10px;
  margin:0 auto;
  text-align: left;
  margin-bottom:5px;
}

.login-page{
  padding:200px;
}

.signup-page{
  padding-top:80px;
}

.btn-logout {
  cursor:pointer;
}

.sidebar-container{
  padding-top:30px;
  color:#D0A565;
  position:absolute;
  background-color: rgb(0,0,0,0.9);
  top:0;
  height:100vh;
  width:100px;
  text-align: center;
  padding:20px 0 0 0;
}

.brand-sidebar{
  color:#D0A565;
  font-size:1.8em;
  font-weight:bold;
  letter-spacing: 0px;
}

.sidebar-element{
  margin: 10px,0, 0, 0;
} 

.sidebar-element > p{
  font-size:0.8em;
  margin:0;
}

.icon-btn{
  background-color: rgb(0,0,0,0);
  border:none;
  width:90px;
  color:#D0A565;
  font-size: 2em;
  padding:0;
}

.icon-btn :hover{
  color: #44A3D3;
}

*:focus {
  outline: 0 !important;
}

.user-info-container{
  margin:40px 0;
}

.profile-image-container{
  height:55px;
  width:55px;
  border-radius: 50%;
  border:solid #D0A565 2px;
  margin:0 auto;
}

.user-name{
  margin-top:10px;
  text-align: center;
  font-size:0.8em;
}

.details-background{
  height: 88vh;
  width: 100vw;
  position: absolute;
  top:12vh;
  left:20vw;
  background-color: rgb(0,0,0,0.75);
  background-size: cover;
  background-position:center;
  z-index: 1000;
}